<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>URL 단축 서비스</title>
</head>

<body>
<div class="container">
    <form class="group" id="url-form">
        <p><strong>🔗 단축할 URL 주소</strong></p>
        <div class="input-box">
            <label for="original-url" hidden></label>
            <input type="text" id="original-url" name="original-url" required placeholder="단축할 URL을 입력하세요." />
            <button type="submit" id="submit-btn">URL 단축하기</button>
        </div>
    </form>
    <div class="group hidden" id="result-box">
        <p><strong>✅ 단축 성공</strong></p>
        <p>유효기간은 7일입니다.</p>
        <div class="input-box">
            <label for="shortened-url" hidden></label>
            <input type="text" id="shortened-url" name="shortened-url" readonly />
            <button type="button" id="copy-btn">복사하기</button>
        </div>
    </div>
</div>
<script src="/js/script.js"></script>
</body>

</html>